h1, p {margin: 0; padding: 0;}


@font-face {
  font-family: TTLakesSection;
  src: url(fonts/TTLakes-Medium.ttf);
}

@font-face {
  font-family: TTLakes;
  src: url(fonts/TTLakes-Bold.ttf);
}

body{
  margin: 0px;
  background-color: #f8f8f8;
}


a{
  text-decoration: none;
}

.btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff3e79;
  border: none;
  padding: 0;
}

.btn:hover{
  filter: drop-shadow(0 0 3px black);
  transition-duration: 0.2s;
  transform: scale(1.2);
  background-color: blue;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  max-width: 320px;
  margin-left: 24px;
}


.menu__header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 18.73px;
  margin-bottom: 46px;
}

.image_pos{
  margin-top: 3px;
}

.menu__logo{
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  left: 20px;
  margin-right: 90px;
}

.menu__items{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 670px;
}

.active{
  color: #7E7E82;
}

.menu__line{
  position: absolute;
  left: 0;
  top: 117px;
  width: 4px;
  height: 32px;
  background: #41f6d7;
}

.menu__list{
  margin-bottom: 32px;
}

.menu__header--link{
  line-height: 24px;
  font-family: 'TTLakesSection', sans-serif;
  height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.menu__footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__contact{
  display: flex;
  flex-direction: column;
}

.footer__btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.footer__call,
.footer__chat{
  margin-right: 16px;
}

.footer__mail{
  line-height: 24px;
  font-family: 'TTLakesSection', sans-serif;
  height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin-bottom: 12px;
}

.footer__number{
  line-height: 32px;
  font-family: 'TTLakes';
  height: 32px;
  font-size: 24px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin-bottom: 40px;
}

.footer__lang--items{
  border: none;
  background: none;
  padding: 0;
  height: 24px;
  font-family: 'TTLakesSection';
  font-size: 16px;
  line-height: 24px;
  margin-right: 5px;
}